<h1>User Receipts</h1>
<table>
  <thead>
    <tr>
      <strong>Group ID</strong>
      <%= @user.group_id %>
    </tr><br>
    <tr>
      <strong>Group Name:</strong>
      <%= @user.group.name %>
    </tr><br><br>
    <tr>
      <strong>User ID</strong>
      <%= @user.id %>
    </tr><br>
    <tr>
      <strong>Username:</strong>
      <%= @user.username %>
    </tr><br>
    <tr>
      <strong>First Name:</strong>
      <%= @user.firstname %>
    </tr><br>
    <tr>
  <strong>Last Name:</strong>
  <%= @user.lastname %>
  </tr><br>
  <tr>
    <strong>Email:</strong>
    <%= @user.email %>
  </tr><br>
  <tr>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </tr>
  <tr>
    <th>User ID#</th>
    <th>Title</th>
    <th>Location</th>
    <th>Expense</th>
    <th>Comments</th>
  </tr>
  </thead><br>
  
<tbody>
  <% @user.receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.user_id %></td>
      <td><%= receipt.title %></td>
      <td><%= receipt.location %></td>
      <td><%= receipt.expense %></td>
      <td><%= receipt.comments %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
      <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
      <td><%= link_to 'Destroy', receipt_path(receipt),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Receipt Record', new_receipt_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Home', controller: 'welcome' %>
