<h1>Listing Receipt Records</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Expense</th>
    <th>Comments</th>
  </tr>

  <% @receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.title %></td>
      <td><%= receipt.location %></td>
      <td><%= receipt.expense %></td>
      <td><%= receipt.comments %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
    </tr>
  <% end %>
</table>
