<h1>Listing Receipt Records</h1>

<%= link_to 'New Receipt Record', new_receipt_path %>
  <%= link_to 'Home', controller: 'welcome' %>

<table>
  <tr>
    <th>User ID#</th>
    <th>Title</th>
    <th>Location</th>
    <th>Expense</th>
    <th>Comments</th>
  </tr>

  <% @receipts.each do |receipt| %>
    <tr>
      <td><%= receipt.user_id %></td>
      <td><%= receipt.title %></td>
      <td><%= receipt.location %></td>
      <td><%= receipt.expense %></td>
      <td><%= receipt.comments %></td>
      <td><%= link_to 'Show', receipt_path(receipt) %></td>
      <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
      <td><%= link_to 'Destroy', receipt_path(receipt),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
