<p>
  <strong>Title:</strong>
  <%= @receipt.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @receipt.location %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @receipt.expense %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @receipt.comments %>
</p>

<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
